/* conteúdo principal deve ocupar a tela inteira */
/* incluir links das redes sociais */
/* fazer página admin para gerenciar os trabalhos que irão aparecer */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Unica+One&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 100%;
}

/* CABEÇALHO */
.cabecalho {
    background-color: #16161d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.logo-cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.texto-cabecalho {
    display: flex;
    flex-direction: column;
    
}
.titulo-cabecalho {
    font-family: 'Agency FB', sans-serif;
    color: rgb(212, 196, 255);
    font-size: x-large;
    margin-bottom: 0;
}

.subtitulo-cabecalho {
    font-family: 'Unica One', sans-serif;
    color: rgb(212, 196, 255);
    font-size: small;
    margin-bottom: 0;
}
.imagem-cabecalho {
    height: 72px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Roboto', sans-serif;
    color: rgb(212, 196, 255);
    font-weight: 200;
    font-size: 20px;
}

/* CONTEÚDO PRINCIPAL */

.conteudo-principal {
    background: linear-gradient(68.15deg, rgba(97, 6, 119,.7) 16.62%, rgba(22, 22, 29,.7) 85.61%), url('/leandrosantosmega/leandrosantosmega/assets/img/mega.JPG') no-repeat ;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 72px;
    padding-bottom: 72px;
    
}

.conteudo-principal .btn {
    position: relative;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: transparent;
}

.conteudo-principal .btn:hover{
    background-color: #16161d;
    color: #fff;
    border: 1px solid transparent;
}

.btn {
    line-height: 50px;
    min-width: 200px;
    font-size: 16px;
    font-weight: 300;
    border: 10px solid #fff;
    border-radius: 100px;
    color: #fff;
    background-color: #16161d;
    padding: 0;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -moz-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -o-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
    -ms-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btn-border {
    border: 1px solid #fff;
}


.conteudo-principal-imagem {
    height: 400px;
}

.conteudo-principal-titulo {
    font-family: 'Agency FB', sans-serif;
    color: rgb(212, 196, 255);
    font-size: 72px;
    font-weight: 200px;
}

.conteudo-principal-subtitulo {
    font-family: 'Unica One', sans-serif;
    color: rgb(212, 196, 255);
}

/* SERVIÇOS */
.conteudo-servicos {
    background: #16161d;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 42px;
    
}

.conteudo-servicos .btn {
    position: relative;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color: transparent;
}

.conteudo-servicos .btn:hover{
    background-color: rgb(255, 210, 255);
    color: #16161d;
    border: 1px solid transparent;
}

.conteudo-subhead-texto{
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    border-top: 1px solid rgb(212, 196, 255);
    padding-top: 12px;
    color: #fff;
    margin-bottom: 25px;

}

.servicos-disponiveis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
}

.conteudo-servico{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding-bottom: 20px;   
    align-items: center;
    padding-top: 42px;
}

.servico {

    align-items: center;
    text-align: center;
}

.servico-titulo {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color:rgb(192, 210, 255);
    text-align: left;
}

.servico-imagem {
    height: 72px;
    padding-bottom: 12px;
    
}

.servico-informacao {
    font-style: italic;
    color: rgb(255, 210, 255);
    text-align: justify;

}

.conteudo-subtitulo{
    color: rgb(212, 196, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 64px;

}


/* PORTIFÓLIO */
.conteudo-portifolio{
    background: #28203e;
    display: flex;
    flex-direction: column;
    align-items: center; 
      
}

.ultimos-trabalhos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.conteudo-ultimo-trabalho {
    height: 250px;
    position: relative;
}

.conteudo-ultimo-trabalho:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 100%;
    bottom: 0;
    background-color: #f5f5f8;
    transition: right 0.25s ease-in-out;
    -moz-transition: right 0.25s ease-in-out;
    -webkit-transition: right 0.25s ease-in-out;
    -o-transition: right 0.25s ease-in-out;
    -ms-transition: right 0.25s ease-in-out;
}

.conteudo-ultimo-trabalho:hover:before {
    right: 25%;
}

.musica-titulo, .conteudo-ultimo-trabalho a {
    position: absolute;
    left: 0;
    margin: 0;
    font-size: 14px;
    opacity: 0;
}

.carrossel-trabalhos {
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 42px;
    margin-right: 42px;
    margin-bottom: 72px;
    margin-top: 15px;
}

.musica-item {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.portifolio-imagem {
    display: flex;
    height: 250px;
}

.spotify {
    top: 60px;
    height: 32px;  
}

.tidal {
    top: 96px;
    height: 32px;
}

.deezer {
    top: 132px;
    height: 32px;
}

.youtube {
    top: 168px;
    height: 32px;
}

.apple {
    top: 204px;
    height: 32px;
}

.musica-titulo {
    width: 150px; 
    top: 15px;  
    transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -moz-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -webkit-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -o-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
    -ms-transition: left 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.conteudo-ultimo-trabalho:hover .musica-titulo {
    left: 15px;
    opacity: 1;
    text-decoration: none;
}
.icone-stream {
    height: 20px;
    fill: black;
    margin-left: 3px;
}

.icone-stream {
    filter: grayscale(100%);
}

ul {
    margin-top: 5px;
    list-style: none;
}

.texto-stream {
    font-size: 12px;
    text-decoration: none;
}

.texto-stream:hover {
    text-decoration: none;
}

.conteudo-ultimo-trabalho a {
    bottom: 8px;
    color: #16161d;
    padding: 3px 8px;
    border: 1px solid #16161d;
    border-radius: 50px;
    width: 100px;
}


.conteudo-ultimo-trabalho:hover a {
    left: 10%;
    opacity: 1;
    text-decoration: none;
}

.conteudo-ultimo-trabalho a:hover {
    background-color: #16161d;
    color: rgb(212, 196, 255);
}

.conteudo-ultimo-trabalho li {
    width: 16px;
    text-align: left;
}


/* SOBRE */
.conteudo-sobre {
    background: #16161d;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}




.conteudo-orcamento {
    background-color: #610677;
    display: flex;
    flex-direction: column;
}


/* FOOTER */
.conteudo-footer {
    padding-top: 48px;
    background: #16161d;
    display: flex;
    flex-direction: column;
}